@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-toolbar-title {
    font-size: medium !important;
    font-weight: 600 !important;
}

.fc-button {
    font-size: small !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

.fc-daygrid-day {
    width: 100% !important; /* Đảm bảo các ngày có chiều rộng tự động */
  }

  .noscroll-bar::-webkit-scrollbar {
        width: 0px !important;           
  }

  .custom-scrollbar{
    scroll-behavior: 'smooth',
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px!important;
    height: 6px!important;
    cursor: pointer;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
  }